SECRET_KEY=SECRET_KEY
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT
STRIPE_SECRET_KEY=sk_test_xxxxxxxxx
STRIPE_PUBLIC_KEY=pk_test_xxxxxxxxx
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0